
// Global Variables
$shadowcolor: #F8FB05;
$buttoncolor: #065635;
$primarybackground: #E0FDDF;
$secondybackground:#F5F5F5F5;
$basefont: 'Lato', sans-serif;
$heading1font: 'Kumar One Outline', cursive;
$secondaryfont: 'Kumar One', cursive;